<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.drift.comment.mapper.CommentMapper">
    <select id="selectCommentList" resultType="org.drift.common.pojo.comment.CommentDto">
        SELECT
            id AS commentId,
            user_id AS userId,
            content,
            create_time AS createTime
        FROM tbl_comments
        WHERE post_id = #{postId} AND parent_comment_id IS NULL
        ORDER BY random_order DESC
        LIMIT #{page}, 10
    </select>

    <select id="selectEarliestReplyList" resultType="org.drift.common.pojo.comment.CommentDto">
        SELECT
            t1.parent_comment_id AS parentCommentId,
            t1.id AS commentId,
            t1.user_id AS userId,
            t1.content,
            t1.create_time AS createTime,
            t1.child_comment_count AS childCommentCount
        FROM (
            SELECT
                id,
                parent_comment_id,
                user_id,
                content,
                create_time,
                COUNT(*) OVER (PARTITION BY parent_comment_id) AS child_comment_count
            FROM tbl_comments
            WHERE reply_to_user_id IS NULL
              AND parent_comment_id IN
              <foreach collection="parentCommentIds" item="parentCommentId" open="(" separator="," close=")">
                  #{parentCommentId}
              </foreach>
        ) t1
        INNER JOIN (
            SELECT
                id
            FROM (
                SELECT
                    id,
                    ROW_NUMBER() OVER (
                        PARTITION BY parent_comment_id
                        ORDER BY IF(user_id = #{authorId}, 1, 2), create_time
                    ) AS row_num
                FROM tbl_comments
                WHERE reply_to_user_id IS NULL
                  AND parent_comment_id IN
                  <foreach collection="parentCommentIds" item="parentCommentId" open="(" separator="," close=")">
                      #{parentCommentId}
                  </foreach>
            ) t
            WHERE row_num = 1
        ) t2
        ON t1.id = t2.id
    </select>

    <select id="selectCommentReplyList" resultType="org.drift.common.pojo.comment.CommentDto">
        SELECT
            id AS commentId,
            user_id AS userId,
            reply_to_user_id AS replyToUserId,
            content,
            create_time
        FROM tbl_comments
        WHERE parent_comment_id = #{commentId} AND id != #{earliestReplyId}
        ORDER BY create_time
        LIMIT #{page}, 5
    </select>
</mapper>