<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.drift.post.mapper.PostMapper">
    <select id="selectPostList" resultType="org.drift.post.bean.Post">
        SELECT id,
               user_id,
               title,
               image_url,
               create_time
        FROM tbl_posts
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
            <if test="followingUserIds != null and followingUserIds.size() > 0">
                user_id IN
                <foreach collection="followingUserIds" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="userId != null">
                update_time DESC, id DESC
            </when>
            <otherwise>
                random_order DESC
            </otherwise>
        </choose>
        LIMIT #{page}, 20
    </select>
</mapper>